.example-spacer {
    flex: 1 1 auto;
  }
.mat-toolbar{
    background: #c02026;
    color: #ffffff;
}
.l-btn{
    margin-left: 5px;
    background: #ffffff;
}
.toolbar-with-bg {
    background-image: url('../../../../assets/images/bg2.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
