<div class="dashboard">
    <h1>Dashboard</h1><hr><br>
    <div class="card-container">
      <div class="card">
        <div class="card-header">
          Total Employees
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ empData.length }}</h5>
        </div>
      </div>
  
      <div class="card">
        <div class="card-header">
          Total Projects
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ projects }}</h5>
        </div>
      </div>
  
      <div class="card">
        <div class="card-header">
          Employees with Projects
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ hasProject }}</h5>
        </div>
      </div>
  
      <div class="card">
        <div class="card-header">
          Employees without Projects
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ hasNoProject }}</h5>
        </div>
      </div>
    </div>
  </div>
  