
.btn-primary {
    background: #c02026 !important;
    color: #ffffff !important;
    margin: 10px;
}

.btn-secondary {
    background: #ffffff !important;
    color: #c02026 !important;
    border: 1px solid #c02026;
    margin: 10px;
}

mat-form-field{
    width: 100%;
}