
.btn-primary {
    background: #c02026;
    color: #ffffff;
    margin: 10px;
}

.btn-secondary {
    background: #ffffff;
    color: #c02026;
    border: 1px solid #c02026;
    margin: 10px;
}

.card {
    width: 500px;
}
