<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <img src="../../../../assets/images/th.jpeg" class="rounded-circle img-thumbnail mb-4" alt="Profile Picture">
      <h2>User Details</h2>
      <hr>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" placeholder="Enter First Name">
              <mat-error *ngIf="userForm.controls['firstName'].invalid && (userForm.controls['firstName'].dirty || userForm.controls['firstName'].touched)">Name is required.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" placeholder="Enter Last Name">
              <mat-error *ngIf="userForm.controls['lastName'].invalid && (userForm.controls['lastName'].dirty || userForm.controls['lastName'].touched)">Last Name is required.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input matInput formControlName="email" placeholder="Enter email">
          <mat-error *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || userForm.controls['email'].touched)">
            <span *ngIf="userForm.controls['email']?.errors?.['required']">Email is required.</span>
            <span *ngIf="userForm.controls['email']?.errors?.['email']">Please enter a valid email address.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Contact Number</mat-label>
          <input matInput formControlName="contactNum" placeholder="Enter Contact Number">
          <mat-error *ngIf="userForm.controls['contactNum'].invalid && (userForm.controls['contactNum'].dirty || userForm.controls['contactNum'].touched)">Contact Number is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Designation</mat-label>
          <input matInput formControlName="designation" placeholder="Enter Designation">
          <mat-error *ngIf="userForm.controls['designation'].invalid && (userForm.controls['designation'].dirty || userForm.controls['designation'].touched)">Designation is required.</mat-error>
        </mat-form-field>
      </div>
      <hr>
      <div class="form-group text-center">
        <button mat-raised-button class="btn-primary" type="submit" >Save</button>
      </div>
    </form>
  </div>
</div>
