<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h3>Register</h3>
                <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">

                    <!-- Name input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="name">Name</label>
                      <input type="text" id="name" class="form-control" placeholder="Enter name" formControlName="name">
                      <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)" class="text-danger">
                        <div *ngIf="registerForm.controls['name']?.errors?.['required']">Name is required.</div>
                      </div>
                    </div>
                  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="email">Email address</label>
                      <input type="email" id="email" class="form-control" placeholder="Enter a valid email address" formControlName="email">
                      <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="text-danger">
                        <div *ngIf="registerForm.controls['email']?.errors?.['required']">Email is required.</div>
                        <div *ngIf="registerForm.controls['email']?.errors?.['email']">Please enter a valid email address.</div>
                      </div>
                    </div>
                  
                    <!-- Contact input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="contact">Contact Number</label>
                      <input type="text" id="contact" class="form-control" placeholder="Enter contact number" formControlName="contact" maxlength="10">
                      <div *ngIf="registerForm.controls['contact'].invalid && (registerForm.controls['contact'].dirty || registerForm.controls['contact'].touched)" class="text-danger">
                        <div *ngIf="registerForm.controls['contact']?.errors?.['required']">Contact number is required.</div>
                        <div *ngIf="registerForm.controls['contact']?.errors?.['pattern']">Please enter a valid contact number.</div>
                      </div>
                    </div>
                  
                    <!-- Company Name input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="companyName">Company Name</label>
                      <input type="text" id="companyName" class="form-control" placeholder="Enter company name" formControlName="companyName">
                      <div *ngIf="registerForm.controls['companyName'].invalid && (registerForm.controls['companyName'].dirty || registerForm.controls['companyName'].touched)" class="text-danger">
                        <div *ngIf="registerForm.controls['companyName']?.errors?.['required']">Company name is required.</div>
                      </div>
                    </div>
                  
                    <!-- Designation input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="designation">Designation</label>
                      <input type="text" id="designation" class="form-control" placeholder="Enter designation" formControlName="designation">
                      <div *ngIf="registerForm.controls['designation'].invalid && (registerForm.controls['designation'].dirty || registerForm.controls['designation'].touched)" class="text-danger">
                        <div *ngIf="registerForm.controls['designation']?.errors?.['required']">Designation is required.</div>
                      </div>
                    </div>
                  
                    <!-- Company's Short Description input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" for="description">Company's Short Description</label>
                      <textarea id="description" class="form-control" placeholder="Enter company's short description" formControlName="description"></textarea>
                    </div>
                  
                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button type="submit" class="btn" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                    </div>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Back to <a [routerLink]="['/login']"
                      class="link-danger">Login</a></p>
                  </form>                  
            </div>
        </div>
    </div>

</section>